<section id="quarter" class="bg-black md:px-20 py-12 px-4   ">

    <div class="text-center mb-16 mx-auto sm:mx-0  sm:w-full ">
        <h2
        class="text-4xl font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text"
      >
      Quarterfinals Summary
      </h2>
      <div class="flex my-10 md:mx-20 flex-col lg:flex-col ">
        <div class="flex-1 ">
            <p class=" lg:w-3/4 mx-auto  leading-relaxed text-base text-white text-justify justify-between mb-6">
              Tech brilliance in Africa! The A2SV Generative AI Hackathon attracted over <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">165 teams</strong> from across the continent, bringing together students and mentors from <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">47 African countries</strong> to collaborate on groundbreaking and meaningful projects. The hackathon was a showcase of African creativity and a powerful demonstration of how technology can bring people together for the greater good.
              <!-- A2SV Generative AI Hackathon Quarterfinals, held from September 1 to 3, 2023, 
               received over <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">3,700 applications</strong>   from more than 520 universities and high schools in <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">47 African countries</strong>. 
              From this pool of talent, <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">866 teams</strong> were formed, generating <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">518 project</strong> ideas. After a careful selection process <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">165</strong> of these ideas advanced to the quarterfinals, where  <strong class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to to-pink-500 bg-clip-text">114 teams</strong> presented their projects live. With the support of  34 mentors, these teams showcased their technical skills and diverse range of ideas for shaping the future of tech in Africa. -->
            </p>

        </div>

        <div class="flex-1   ">
            <!-- <h1 class="text-2xl font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text mb-5">Quarter Final Summary</h1> -->
            <div class="flex md:flex-row flex-col  lg:w-3/4 mx-auto">
              <table class="border-separate border-spacing-2 border border-slate-500 w-full text-white mb:7 lg:mb-0  md:mr-5">
                <thead>
                  <tr class="bg-gradient-to-r from-indigo-600 to to-pink-500">
                    <th class="border border-slate-600 p-2">Metric</th>
                    <th class="border border-slate-600 p-2">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border border-slate-700 ...">Total Applicants</td>
                    <td class="border border-slate-700 ...">3,709</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Countries Represented</td>
                    <td class="border border-slate-700 ...">47</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Teams Formed</td>
                    <td class="border border-slate-700 ...">866</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Schools Represented</td>
                    <td class="border border-slate-700 ...">521</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Ideas Submitted</td>
                    <td class="border border-slate-700 ...">518</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Mentors</td>
                    <td class="border border-slate-700 ...">34</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Teams Advancing to Quarterfinals</td>
                    <td class="border border-slate-700 ...">165</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Quarterfinalist Countries</td>
                    <td class="border border-slate-700 ...">32</td>
                  </tr>
                </tbody>
              </table>
              


              <table class="border-separate border-spacing-2 border border-slate-500 w-full text-white mt-7 md:mt-0 ">
                <thead>
                  <tr class="bg-gradient-to-r from-indigo-600 to to-pink-500">
                    <th class="border border-slate-600 p-2 md:w-1/2">Category </th>
                    <th class="border border-slate-600 p-2 md:w-1/2">Project Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border border-slate-700 ...">AI Driven Artistry and Innovation</td>
                    <td class="border border-slate-700 ...">6</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Legal</td>
                    <td class="border border-slate-700 ...">4</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Communication and Accessibility</td>
                    <td class="border border-slate-700 ...">23</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Data Analysis and Decision making</td>
                    <td class="border border-slate-700 ...">10</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Healthcare</td>
                    <td class="border border-slate-700 ...">20</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Agriculture and Farming</td>
                    <td class="border border-slate-700 ...">20</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Education and Learning</td>
                    <td class="border border-slate-700 ...">22</td>
                  </tr>
                  <tr>
                    <td class="border border-slate-700 ...">Personalized Assistance</td>
                    <td class="border border-slate-700 ...">9</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
</section>