.filled-button {
  --background-color: white;
  --border-color: linear-gradient(to bottom right, red, blue);
  --border-width: 0.0em;
  cursor: pointer;
  background: var(--background-color);
  padding: 0.5em 1.5em;
  border: 0;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(0% 0%, 85% 1%, 100% 44%, 100% 100%, 0% 100%);
  transition: color 250ms;
  border-radius: .3em;
}




