<div class="p-2 text-white mt-5">
  <h2 class="text-lg mb-2 font-extralight  lg:inline  lg:whitespace-nowrap  ">{{eventText}}
    <span class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text">{{eventDate}}</span>  at
    <span class="font-bold text-transparent bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text "> {{eventTime}}</span>:</h2>
  <div class="text-3xl max-sm:text-2xl gap-y-8 text-center flex max-sm:flex-wrap w-full items-center justify-center sm:justify-start mt-2">
    <div class="w-16  mx-1 px-auto py-2 max-sm:p-1 bg-white text-indigo-700 rounded">
      <div class="font-mono text-center leading-none" x-text="days">{{ Number( daysLeft ) > 9 ? daysLeft : '0' + daysLeft}}</div>
      <div class="font-mono text-center uppercase text-sm leading-none">Days</div>
    </div>
    <div class="w-16 mx-1 px-auto py-2 max-sm:p-1 bg-white text-indigo-700 rounded">
      <div class="font-mono text-center leading-none" x-text="hours">{{ Number( hoursLeft ) > 9 ? hoursLeft : '0' + hoursLeft}}</div>
      <div class="font-mono text-center uppercase text-sm leading-none">Hours</div>
    </div>
    <div class="w-16 mx-1 px-auto py-2 max-sm:p-1 bg-white text-indigo-700 rounded">
      <div class="font-mono text-center leading-none" x-text="minutes">{{ Number( minutesLeft ) > 9 ? minutesLeft : '0' + minutesLeft}}</div>
      <div class="font-mono text-center uppercase text-sm leading-none">Minutes</div>
    </div>
    <div class="w-16 mx-1 px-auto py-2 max-sm:p-1 bg-white text-indigo-700 rounded">
      <div class="font-mono text-center leading-none" x-text="minutes">{{ Number( secondsLeft ) > 9 ? secondsLeft : '0' + secondsLeft}}</div>
      <div class="font-mono text-center uppercase text-sm leading-none">Seconds</div>
    </div>
  </div>
</div>
